.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

ul {
  height: auto;
  padding: 0;
}

.hidden_warning {
  max-width: 320px;
  background-color: #FFECED;
  text-align: center;
  border: solid 1px #CCC;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  list-style-type: none;
  color: #ff4d4d;
}

.hidden_warning:before {
  content: '';
  display: inline-block;
  height: 35px;
  width: 35px;
  position: relative;
  background-image: url('../../icons/warning.svg');
  background-repeat: no-repeat;
  background-size: 35px 35px;
}

.hidden_suggestions {
  max-width: 320px;
  height: auto;
  background-color: #FCFECC;
  text-align: center;
  margin-top: 5px;
  border: solid 1px #CCC;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #5E550C;
  list-style-type: none;
}

.hidden_suggestions:before {
  content: '';
  display: inline-block;
  height: 35px;
  width: 35px;
  position: relative;
  background-image: url('../../icons/suggestion.svg');
  background-repeat: no-repeat;
  background-size: 35px 35px;
}

.spacing p {
  padding-left: 5px;
  padding-right: 5px;
}

.bar {
   width: 100%;
   height: 3px;
   position: absolute;
   bottom: 0;
   border-radius: 2px;
   overflow: hidden;
 }

 .segment {
   display: none;
   width: 25%;
   height: 100%;
   background-color: #cccccc;
   float: left;
   border-right: 2px solid #ffffff;
}

.segment:last-child {
  border-right: 0 none;
}

.password-strength[data-strength] .segment {
    display: block;
  }

.password-strength[data-strength = "1"].strength-1 {
    background-color: red;
  }
