{% include "header.html" %}
{% include "menu.html" %}
{% from "security/macros.html" import render_input_with_errors %}
<link href="{{ url_for('static', filename='css/custom/change_password.css') }}" rel="stylesheet">

{% block body %}

{% include "messages.html" %}

<div class="container">
  <form class="form-signin" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
    <h2 class="form-signin-heading text-center">Change Password</h2>
    {{ change_password_form.hidden_tag() }}
    {{ render_input_with_errors(change_password_form.password, "password", "Current Password", "required") }}
    <ul>
      <li class = "hidden_suggestions">
        <div class= "spacing"><p id ="suggestion"></p> </div>
      </li>
    </ul>

    {{ render_input_with_errors(change_password_form.new_password, "password", "New Password", "required") }}
    <div class = "bar">
      <div class = "segment strength-1"></div>
      <div class = "segment strength-2"></div>
      <div class = "segment strength-3"></div>
      <div class = "segment strength-4"></div>
    </div>  
    <ul>
      <li class="hidden_warning">
        <div class = "spacing"><p id="warning"></p></div>
      </li>
    </ul>

    {{ render_input_with_errors(change_password_form.new_password_confirm, "password", "Confirm Password", "required") }}
    <button class="btn btn-lg btn-primary btn-block" id="c" type="submit" value="Change Password">Change Password</button>
  </form>
</div>

<script type="text/javascript">
  $('.hidden_warning').hide();
  $('.hidden_suggestions').hide();

  password_check = function() {
    var strength = 'Very Weak';

    if (zxcvbn(this.value).score == 0) {
      strength = 'Very Weak';
      console.log(strength);
    }
    else if (zxcvbn(this.value).score == 1) {
      strength = 'Weak';
      console.log(strength);
    }
    else if (zxcvbn(this.value).score == 2) {
      strength = 'Good';
      console.log(strength);
    }
    else if (zxcvbn(this.value).score == 3) {
      strength = 'Strong';
      console.log(strength);
    }
    else if (zxcvbn(this.value).score == 4) {
      strength = 'Very Strong';
      console.log(strength);
    }
    if(this.value == '') {
      $('.hidden_warning').hide();
      $('.hidden_suggestions').hide();
    } else {
      //Short form to call the zxcvbn
      var suggestions_array = zxcvbn(this.value).feedback.suggestions;
      var warning_string = zxcvbn(this.value).feedback.warning;
      var suggestions_string = suggestions_array.join(' ');
      //if statement which displays the warning if its value != NULL
      console.log(zxcvbn(this.value));
      if (warning_string != "") {
        $('#warning').text(warning_string);
        $('.hidden_warning').show();
        $('.hidden_suggestions').hide();
        document.getElementById('c').disabled = true;
      }
      else {
        //else statement which hides the warning
        //and runs the if statement for the suggestion box
        $('.hidden_warning').hide();
        document.getElementById('c').disabled = false;
        if (suggestions_array.length > 0) {
          $('#suggestion').text(suggestions_string);
          $('.hidden_suggestions').show();
        }
        else {
          $('.hidden_suggestions').hide();
        }
      }
    };
  };

  $('#new_password').on('keyup', password_check);
</script>

{% endblock %}
{% include "footer.html" %}
