{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}

{% block body %}

{%- if ale.json["state"] == "OK" or ale.json["state"] == "UP" %}
<div class="panel panel-success">
{%- elif ale.json["state"] == "WARNING" %}
<div class="panel panel-warning">
{%- elif ale.json["state"] == "CUSTOM" %}
<div class="panel panel-info">
{%- else %}
<div class="panel panel-danger">
{%- endif %}

{% if ale.json["service_name"] -%}
  <div class="panel-heading">{{ ale.json["state"] }} notification for <b>{{ ale.json["service_name"] }}</b> on <b>{{ ale.json["hostname"] }}</b></div>
  <div class="panel-body">
    {%- if ale.json["trouble_code"] %}<h4><b>Trouble Code</b>: <a href="{{ config.get('HOTPOTATO_TROUBLECODE_URL').format(trouble_code=ale.json['trouble_code']) }}">{{ ale.json["trouble_code"] }}</a></h4>{%- endif %}
    <h4><b>Hostname</b>: {{ ale.json["hostname"] }}{%- if display_name %} ({{ ale.json["display_name"] }}){%- endif %}</h4>
    <h4><b>Service</b>: {{ ale.json["service_name"] }}</h4>
{%- else -%}
  <div class="panel-heading">Host Notification for <b>{{ ale.json["hostname"] }}</b></div>
  <div class="panel-body">
  {%- if ale.json["trouble_code"] %}<h4><b>Trouble Code</b>: <a href="{{ config.get('HOTPOTATO_TROUBLECODE_URL').format(trouble_code=ale.json['trouble_code']) }}">{{ ale.json["trouble_code"] }}</a></h4>{%- endif %}
    <h4><b>Hostname</b>: {{ ale.json["hostname"] }}{%- if ale.json["display_name"] %} ({{ ale.json["display_name"] }}){%- endif %}</h4>
{%- endif %}
    <h4><b>Page Type</b>: {{ ale.json["alert_type"] }}</h4>
    <h4><b>State</b>: {{ ale.json["state"] }}</h4>
    <h4><b>Timestamp</b>: {{ to_local_time(util.datetime_get_from_string(ale.json["timestamp"]), tz=current_user.timezone) }}</h4>
    <h4><b>Server Name</b>: {{ servers.get(ale.json["server_id"]).hostname }}</h4>
    <h4><b>Status</b>: {{ ale.json["status"] }}</h4>
    <h4><b>Output</b>: </h4><pre>{{ ale.json["output"] }}</pre></span>
  </div> <!-- panel-body -->

{% if ale.is_unsent() -%}
  <div class="panel-footer">This notification has the ID number <b><a href="{{ url_for('get_page_details', ale_id=ale.id) }}">{{ ale.id }}</a></b></div>
{%- elif ale.json["provider"] == "modica" -%}
  <div class="panel-footer">This notification has the ID number <b><a href="{{ url_for('get_page_details', ale_id=ale.id) }}">{{ ale.id }}</a></b> and was sent to Modica with ID <b><a href="https://omni.modicagroup.com/reports/message_detail?id={{ ale.json['provider_notif_id'] }}">{{ ale.json["provider_notif_id"] }}</a></b></div>
{%- elif ale.json["provider"] == "twilio" -%}
  <!-- FIXME: modify the ID link to actually refer to the Twilio one (jforman plz) -->
  <div class="panel-footer">This notification has the ID number <b><a href="{{ url_for('get_page_details', ale_id=ale.id) }}">{{ ale.id }}</a></b> and was sent to Twilio with ID <b><a href="https://omni.modicagroup.com/reports/message_detail?id={{ ale.json['provider_notif_id'] }}">{{ ale.json["provider_notif_id"] }}</a></b></div>
{%- else -%}
  <div class="panel-footer">This notification has the ID number <b><a href="{{ url_for('get_page_details', ale_id=ale.id) }}">{{ ale.id }}</a></b> and was sent to an unknown provider with ID <b>{{ ale.json["provider_notif_id"] }}</b></div>
{%- endif %}

</div> <!-- outer panel -->

{% endblock %}
{% include "footer.html" %}
