    <br><br>
    <center><div class="alert alert-info" role="alert">This page load was proudly brought to you by {{ node_name }}.</div></center>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery itself now loaded in the header -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Date Picker -->
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>

  </body>
</html>
