{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}
{% include "failed_alerts.html" %}

{% block body %}
<p><b>{{ pagerperson.name }}</b> is currently on pager.</p>
{% endblock %}

{% include "footer.html" %}
