{%- with messages = get_flashed_messages(with_categories=true) -%}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == "info" or category == "message" %}
        <div class="alert alert-dismissible alert-info">
            <h2 class="text-center">{{ message }}</h2>
        </div>
      {% elif category == "success" %}
        <div class="alert alert-dismissible alert-success">
            <h2 class="text-center">{{ message }}</h2>
        </div>
      {% elif category == "warning" %}
        <div class="alert alert-dismissible alert-warning">
            <h2 class="text-center">{{ message }}</h2>
        </div>
      {% elif category == "error" %}
        <div class="alert alert-dismissible alert-danger">
            <h2 class="text-center">{{ message }}</h2>
        </div>
      {% else %}
        <!-- Unknown message category: {{ category }} -->
        <div class="alert alert-dismissible alert-info">
            <h2 class="text-center">{{ message }}</h2>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{%- endwith %}
