{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}

{% block body %}

<h2>Send message</h2>

{% if pagerperson.id %}

<p><b>{{ pagerperson.name }}</b> is currently on pager.</p>
<p>Use this page to send a custom pager message.</p>

{% if message %}
    <h3>Message sent!</h3>
    <p>Pager Message:<br>{{ message }}</p>
{% else %}
    <form action="{{ url_for('send_message') }}" method="post">
        Custom message: <input type="text" name="message"></input>
        <button class="btn btn-danger" type="submit">Send</button>
    </form>
{% endif %}

{% else %}

<p>Cannot send a message because <b>no one</b> is currently on pager.</p>

{% endif %}

{% endblock %}
{% include "footer.html" %}
