{% include "header.html" %}
{% include "menu.html" %}
{% block body %}

{% include "messages.html" %}

<h2>Contact Methods</h2>

<p><b>NOTE:</b> Toggling these options doesn't do what you'd expect, talk to James.</p>

<p>The plan: In the event that a particular method isn't working, an admin will be able to come here and globally toggle it off / on (probably with an actual form and some kind of "Yes I'm sure") - This will need some pretty massive code restructuring but it could potentially be useful one day at 3am.</p>


<table border="1">
<tr>
  <td>ID</td>
  <td>Name</td>
  <td>Enabled</td>
</tr>
{%- for contact in the_contact_methods %}
<tr>
  <td>{{ contact.id }}</td>
  <td>{{ contact.name }}</td>
{% if contact.enabled %}
  <td><a href="/admin/contact-methods/disable/{{ contact.id }}"><center>✓</center></a></td>
{% else %}
  <td><a href="/admin/contact-methods/enable/{{ contact.id }}"><center>✗</center></a></td>
{% endif %}
</tr>
{%- endfor %}

{% endblock %}
{% include "footer.html" %}
