{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}

{% block body %}

<h2>Add contact method</h2>
<p>Add a method for Hot Potato to contact you via</p>

<p><b>Note:</b> You will need to specify phone numbers in the +64 format, ie +642712345678 without any spacing</p>

<form action="{{ url_for('add_contact_method') }}" method="POST">
    <p>Contact Method:
    <select name="method">
        {%- for met in oncall_contact_methods %}
        <!-- TODO: tenants, tenant-specific pager/app contacts -->
        <option value="{{ met }}" id="{{ met }}" {% if met == method %}autofocus{% endif %}>{{ met }}</option>
        {%- endfor %}
    </select></p>

    {% if duplicate_contact %}Contact already exists{% endif %}
    <p>Contact Detail: <input type="text" name="contact" {% if contact %}value="{{ contact }}"{% endif %}></p>
    <p>Priority: <input type="number" name="priority" {% if priority %}value="{{ priority }}"{% endif %}></p>
    <p>Send pages: <input type="checkbox" name="send_pages" id="send_pages" {% if send_pages %}checked{% endif %}></p>
    <p>Send notification failure alerts: <input type="checkbox" name="send_failures" id="send_failures" {% if send_failures %}checked{% endif %}></p>
    <p>By selecting "send pages" you'll also recieve pager messages via this method while you're on-call.</p>
    <p><input type="submit" value="Submit"></p>

</form>

{% endblock %}
{% include "footer.html" %}
