{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}
{% from "account/oncall_contacts_table.html" import table_oncall_contacts %}

{% block body %}

{% if user.last_login_ip != user.current_login_ip and user.last_login_ip != None %}
<center><div class="alert alert-danger" role="alert">
  <p><b>Heads up!</b> Your last login came from a different IP to your current:</p>
  <p><b>Current Login was from</b> {{ user.current_login_ip }} at {{ to_local_time(user.current_login_at, tz=current_user.timezone) }} ({{ user.timezone }})</p>
  <p><b>Previous Login was from</b> {{user.last_login_ip}} at {{ to_local_time(user.last_login_at, tz=current_user.timezone) }} ({{ user.timezone }})</p>
</div></center>
{% endif %}

<h2>My contact methods</h2>

<p>Hot Potato is built with the assumption that everyone has a physical pager. There's no way to stop messages being sent to the pager at this time.</p>
<p>The system shall attempt to contact you via the methods below if there is a fault with paging and you are on-call or if you specifically enable sending SMS messages to yourself.</p>

<form action="" method="POST" id="delete-form"></form>

{{ table_oncall_contacts("Verifiable Contact Methods", verifiable_contacts) }}
{{ table_oncall_contacts("Unverifiable Contact Methods", unverifiable_contacts) }}

<h2>My timezone</h2>

<p>This is the timezone that Hot Potato will format times into for you.</p>
<p>This does not currently impact the date and time displayed in pager messages.</p>

<form action="/account/tz" method="POST">
<p>Time Zone: </p>
<select name="timezone">
{%- for tz in all_timezones %}
  {%- if tz == user.timezone %}
    <option value="{{ tz }}" selected>{{ tz }}</option>
  {%- else %}
    <option value="{{ tz }}" >{{ tz }}</option>
  {%- endif %}
{%- endfor %}
</select>
<input type="submit" value="Update">
</form>

<p>Time at page load: <b>{{to_local_time(date, tz=current_user.timezone)}}</b></p>

{% endblock %}
{% include "footer.html" %}
